<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://fast.wistia.net/embed/iframe/ccxgg217r9?videoFoam=true" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
